################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MvcCrystalReport/.vs/MvcCrystalReport.csproj.dtbcache.json

.vs/
/MvcCrystalReport/obj/
/MvcCrystalReport/bin/
.gitignore